Title: {{ .Title }}
Resource URI: {{ .GetResourceURI }}
Description: {{ .Description }}
{{- if gt .TotalSnippets 0 }}
Code Snippets: {{ .TotalSnippets }}
{{- end }}
{{- if gt .TrustScore 0.0 }}
Trust Score: {{ .TrustScore }}
{{- end }}
